* { text-decoration: none; list-style: none;  }
     /* Btn */
      #slide_up {
        width: 50px; 
        height: 50px; 
        float: right;
        right: 50px;
        top: 850px;
        position: fixed;
        border-radius: 50%;
    }
    #slide_up a {
        display: block;
        width: 50px; 
        height: 50px;  
        background-color: #eee;
        border-radius: 50%;
        text-align: center;
        line-height: 4;
    }
    
   
 /*footer*/
    #footer {
        width: 100%; 
        height: 500px; 
        _background-color: beige;
        }

    #f_logo { 
        width: 10%; 
        height:350px;  
        text-align: center; 
        margin: 0 auto; 
        line-height: 20;
    }
    #f_logo a img {
        width: 80px; 
        height: 65px;
    }

    #f_text {
        width: 100%; 
        height:150px; 
       
    }
    #f_text ul {
        margin: 0 auto;
        width: 90%; 
        height: 100%; 
    }

    #f_text ul .address {
        float: left; 
        font-family: "Bookman Old Style";
    }
    #f_text ul .address p {font-size: 18px;}

    
    #f_text ul .call {float: right; }
    #f_text ul .call p {font-size: 16px;}
    #f_text ul .call a { color: #565656;  }




/*  ★★ PC 가로 ★★*/
@media all and (min-width:1024px)and (max-width:1279px) {
        
    
    /* Btn */
      #slide_up {
        width: 50px; 
        height: 50px; 
        float: right;
        right: 50px;
        top: 850px;
        position: fixed;
        border-radius: 50%;
    }
    #slide_up a {
        display: block;
        width: 50px; 
        height: 50px;  
        background-color: #eee;
        border-radius: 50%;
        text-align: center;
        line-height: 4;
    }
    
    
   
 /*footer*/
    #footer {
        width: 100%; 
        height: 100%; 
        
        }

    #f_logo { 
        width: 10%; 
        height:250px;  
        text-align: center; 
        margin: 0 auto; 
        line-height: 20;
    }
    #f_logo a img {
        width: 80px; 
        height: 65px;
    }

    #f_text {
        width: 100%; 
        height:90px; 
      
    }
    #f_text ul {
        margin: 0 auto;
        width: 90%; 
        height: 100%; 
    }

    #f_text ul .address {
        float: left; 
        font-family: "Bookman Old Style";
    }
    #f_text ul .address p {font-size: 14px;}

    
    #f_text ul .call {float: right; }
    #f_text ul .call p {font-size: 12px; margin-bottom: 5px;}
    #f_text ul .call a { color: #565656;  }

    
  
    
}
    
/*    ★★ 갤럭시 탭 가로 ★★*/
@media all and (min-width:768px) and (max-width:1023px) {
     
     /* Btn */
      #slide_up {
        width: 50px; 
        height: 50px; 
        float: right;
        right: 20px;
        top: 750px;
        position: fixed;
        border-radius: 50%;
    }
    #slide_up a {
        display: block;
        width: 50px; 
        height: 50px;  
        background-color: #eee;
        border-radius: 50%;
        text-align: center;
        line-height: 4;
    }
    

    
   
 /*footer*/
    #footer {
        width: 100%; 
        height: 40vh;
        padding-top:30px;
        }
    
    #f_logo { 
        width: 10%; 
        height:250px;  
        text-align: center; 
        margin: 0 auto; 
        line-height: 20;
    }
    #f_logo a img {
        width: 80px; 
        height: 65px;
    }

    #f_text {
        width: 100%; 
        height:90px; 
 
    }
    #f_text ul {
        margin: 0 auto;
        width: 90%; 
        height: 100%; 
    }

    #f_text ul .address {
        float: left; 
        font-family: "Bookman Old Style";
    }
    #f_text ul .address p {font-size: 14px;}

    
    #f_text ul .call {float: right; }
    #f_text ul .call p {font-size: 15px; margin-bottom: 5px;}
    #f_text ul .call a { color: #565656;  }

    
  
    
  
    
}
    

/*  ★ ★모바일 아이폰 가로*★★*/
@media all and (min-width:321px) and (max-width:767px){
            /* Btn */
      #slide_up {
        width: 30px; 
        height:30px; 
        float: right;
        right: 10px;
        top: 410px;
        position: fixed;
        border-radius: 50%;
    }
    #slide_up a {
        display: block;
        width: 30px; 
        height: 30px;  
        background-color: #eee;
        border-radius: 50%;
        text-align: center;
        line-height:2.7;
    }
    
    #slide_up a img {
        width: 25px;
        height: 25px;
       
    }
 /*footer*/
    #footer {
        width: 100%; 
        height: 40vh;
        padding-top:30px;
        }

    #f_logo { 
        width: 30%; 
        height:150px;  
        text-align: center; 
        margin: 0 auto; 
        line-height: 13;
    }
    #f_logo a img {
        width: 80px; 
        height: 65px;
    }

    #f_text {
       
        width: 100%; 
        height:170px; 

    }
    #f_text ul {
        margin: 0 auto;
        width: 95%; 
        height: 100%; 
    }

    #f_text ul .address {
        width: 100%;
        float: left; 
        font-family: "Bookman Old Style";
        color: #999; 
        opacity: .5; 
    }
    #f_text ul .address p {font-size: 10px;}

    
    #f_text ul .call {
        width: 100%;
        float: left; 
        margin-top: 20px;  
        color: #999;opacity: .5;  
    }
    #f_text ul .call p {font-size: 11px;  }
    #f_text ul .call a {  color: #000;   }

}
/*  ★★아이폰SE ★★*/
@media all and (max-width:320px){
    
            /* Btn */
      #slide_up {
        width: 30px; 
        height:30px; 
        float: right;
        right: 10px;
        top: 450px;
        position: fixed;
        border-radius: 50%;
    }
    #slide_up a {
        display: block;
        width: 30px; 
        height: 30px;  
        background-color: #eee;
        border-radius: 50%;
        text-align: center;
        line-height:2.7;
    }
    
    #slide_up a img {
        width: 25px;
        height: 25px;
       
    }
 /*footer*/
    #footer {
        width: 100%; 
        height: 30vh;
        padding-top:30px;

        }

    #f_logo { 
        width: 30%; 
        height:150px;  
        text-align: center; 
        margin: 0 auto; 
        line-height: 13;
    }
    #f_logo a img {
        width: 80px; 
        height: 65px;
    }

    #f_text {
        display: none;
        margin-top: 10px;
        width: 100%; 
        height:170px; 

    }
    #f_text ul {
        margin: 0 auto;
        width: 90%; 
        height: 100%; 
    }

    #f_text ul .address {
        float: left; 
        font-family: "Bookman Old Style";
        color: #999; 
        opacity: .5; 
    }
    #f_text ul .address p {font-size: 11px;}

    
    #f_text ul .call {float: left; margin-top: 20px; color: #999;opacity: .5;}
    #f_text ul .call p {font-size: 10px;}
    #f_text ul .call a {  color: #000;   }

}
    
    
    
