/* reset element */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,button,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin:0; padding:0;
}
 h1, h2, h3, h4, h5, h6 {font-weight:normal; font-size:inherit;}



/* 건너뛰기 링크(접근성) */
.skipnavi {position:absolute; left:0; top:-50px; text-indent:-9999px; font-size:0; width:100%; z-index:999; }
.skipnavi li a:focus, 
.skipnavi li a:active {position:absolute; left:0; top:50px; display:block; width:100%; padding:5px 0; text-align:center; text-indent:0px; font-size:12px; font-weight:bold; background:#f2f2f2;}

* {font-family: "Bookman Old Style";}
ol, ul, li { list-style: none;}
a {text-decoration:none;}


/*  ★★ PC 가로 ★★*/
@media all and (min-width:1066px)  {

/*wrap*/
#wrap { width: 100%; height: 100%; }
#header {width: 100%; height: 105px;  }


/*★search*/
        * a {   font-family: "Bookman Old Style"; }
        #search {  
            position: absolute;
            right: 0;
            top: 0;
            float: right;
            width: 415px;
            height: 400px;
            display: none;
            z-index: 8;
            overflow: hidden;
        }
        #search img {
            position: absolute;
            z-index: -1;}
/*s_icon*/
       #search .s_icon {
           padding-left: 50px;
           padding-top: 20px;
            width:80%; 
            height: 100px; 
            float: left;
            text-align: left;
        }
       #search .s_icon ul {
            width:100%; height: 100px;
        }

        #search .s_icon ul li { 
            text-align: center;
            float: left; 
            padding-right: 15px;
            width:60px;
            height: 30px;
            margin-top: 30px;
          
        }
        #search .s_icon ul li a p,.fas{
            font-size: 20px;
            line-height: 1.6;
             color:#616161;
            font-weight: bold;
            z-index: 8;
        }
.fa-shopping-cart {font-size: 20px; line-height: 1.7; color: #616161;} 
.fa-search {margin-left: 0px; transition: 0.8s; line-height: 1.7; font-size: 20px; color:#616161;}
.fa-search.in {margin-left: 15px; transition: 0.8s;}

.S_box{ 
width: 0px; height: 2em; right: 200px; padding: 5px; transition: 0.8s;  position: absolute; top: 52px; transition: width 300ms ease; overflow: hidden; float: right;  box-sizing: border-box; transition: 0.8s; }
.S_box.open {
    width: 170px; padding: 5px;
    transition: 0.8s;
}

.S_box from input { right: 10px; padding: 5px; transition: 0.8s;  position: absolute; _transition: width 300ms ease; overflow: hidden;  box-sizing: border-box; top: 0px; border-radius: 10px;}
.S_box from input.inopen { width: 160px; right: -100px padding: 5px;}


        
/*s_Text*/
        #search .s_Text {
            padding-left: 50px;
            padding-top: 20px;
            width:80%; 
            height: 100px; 
            float: left;
            text-align: left;
        }    
        #search .s_Text ul li    {
            margin-left: 5px;
            width:100%; height: 100px;
         
        } 
        #search .s_Text ul li a p {
            font-size: 18px;
            color: #999999;
            font-weight: bold;
        }

 #search .s_Text ul li a p:hover {  _font-size: 22px;color: #2f2f2f; transition:0.5s;}

/*logo*/
    #header #Logo {
        margin: 30px;
        position: absolute;
        width: 100px;
        height: 300px;
        position: fixed;
        
    }
    #header #Logo img {
        width: 25px;
        height: 200px;
    }

/*list*/


    #header .list {
        position: relative;
        width: 90%;
        height: 100px;
        float: left;
        justify-content:center;
        _display:flex;
        _align-items:center;
    }

    .list ul { 
        padding-top:30px;
        padding-left: 10%;
        margin: 0 auto;
        width: 200px; 
        height: 70px; 
        
    }


    .list ul li {
        position: relative;
        margin: 0 auto;
        float: left;
        width: 9px; 
        height: 35px; 
        margin-left: 20px;
        margin-right: 20px;            
        
        
    }

        .list ul li a {  
            text-align: right;
            width:10px; 
            height: 20px;
            border-radius: 50px;
           
            display: block;
            background-color: #a19e9d;
}

         .list ul li a:after {
            top: 6px;
            right: -6px;
            content: "";
            position: absolute;
            border: 5px solid #a19e9d;
            border-radius:10px;
            height: 0;
            transform: translateX(-50%);
            
            transition-duration: 0.4s;
            margin-top: -9px;
        }
        .list ul li a:hover:after{height: 100%;}
    

    .on {margin-right: -20px;}
    

    #header .h_btn {
        position: relative;
        width:10%; height: 50px; 
        float: right;
        z-index: 10;
        }
    #header .h_btn ul {
        width:50px; height: 100px;
        margin: 0 auto;
        float: right;
        margin-right: 45px;
        }


    #header .h_btn ul li { 
        float: left;
        width:20px;
        height: 30px;
        margin-top: 30px;
    }
    
    .h_btn ul li:nth-child(1) img { width: 25px; height: 25px; padding-top: 2px;}
    .h_btn ul li:nth-child(2) img { width: 30px; height: 30px; }
    
    .hit {    
    position: absolute;
    left: 100%;
    opacity: 0;
    transition: 1s;
    }
    
    .hit_on {
    left: 9%;
    opacity: 1; 
    }
    
    
     #header:after {content: ""; clear: both;}
}



/*    ★★ 갤럭시 탭 가로 ★★*/
@media all and (min-width:801px) and (max-width:1065px) {
    
    /*갤럭시 wrap*/
#wrap { width: 100%; height: 100%; }
#header {width: 100%; height: 105px;  }

/*★ 갤럭시 search*/
        * a {  font-family: "Bookman Old Style"; }
        #search {  
            position: absolute;
            right: -35px;
            top: 0;
            width: 350px;
            height: 400px;
            display: none;
            z-index: 8;
        }
        #search img {
            position: absolute;
            right: 0;
            width: 350px;
            z-index: -1;}
/*s_icon*/
       #search .s_icon {
           padding-left: 20px;
            width:100%; 
            height: 100px; 
            float: left;
            text-align: left;
        }
       #search .s_icon ul {
            width:65%; height: 100px;
           padding-left: 10px;
        }

        #search .s_icon ul li { 
            text-align: center;
            float: left; 
            padding-right: 5px;
            width:60px;
            height: 30px;
            margin-top: 30px;
          
        }
        #search .s_icon ul li a p,.fas{
            font-size: 20px;
            line-height: 1.6;
            color:#616161;
            font-weight: bold;
            z-index: 8;
        }
.fa-shopping-cart {font-size: 20px; line-height: 1.7; color: #616161;} 
.fa-search {transition: 0.8s; line-height: 1.7; font-size: 20px; color:#616161;}
.fa-search.in {margin-left: 30px; transition: 0.8s;}

.S_box{ 
width: 0px; height: 2em; right: 165px; padding: 5px; transition: 0.8s;  position: absolute; top: 30px; transition: width 300ms ease; overflow: hidden; float: right;  box-sizing: border-box; transition: 0.8s; }
    
.S_box.open {
    width: 170px; padding: 5px;
    transition: 0.8s;
}

.S_box from input { right: 10px; padding: 5px; transition: 0.8s;  position: absolute; _transition: width 300ms ease; overflow: hidden;  box-sizing: border-box; top: 0px; border-radius: 10px;}
.S_box from input.inopen { width: 160px; right: -100px padding: 5px;}


        
/*s_Text*/
        #search .s_Text {
            padding-left: 50px;
            padding-top: 20px;
            width:80%; 
            height: 100px; 
            float: left;
            text-align: left;
        }    
        #search .s_Text ul li    {
            margin-left: 5px;
            width:100%; height: 100px;
         
        } 
        #search .s_Text ul li a p {
            font-size: 18px;
            color: #999999;
            font-weight: bold;
        }

 #search .s_Text ul li a p:hover {  _font-size: 22px;color: #2f2f2f; transition:0.5s;}

/*logo*/
    #header #Logo {
        margin: 30px;
        position: absolute;
        width: 100px;
        height: 300px;
        position: fixed;
        
    }
    #header #Logo img {
        width: 25px;
        height: 200px;
    }

/*list*/


    #header .list {
        position: relative;
        width: 90%;
        height: 100px;
        float: left;
        justify-content:center;
        _display:flex;
        _align-items:center;
    }

    .list ul { 
        padding-top:30px;
        padding-left: 10%;
        margin: 0 auto;
        width: 200px; 
        height: 70px; 
        
    }


    .list ul li {
        position: relative;
        margin: 0 auto;
        float: left;
        width: 9px; 
        height: 35px; 
        margin-left: 20px;
        margin-right: 20px;            
        
        
    }

        .list ul li a {  
            text-align: right;
            width:10px; 
            height: 20px;
            border-radius: 50px;
           
            display: block;
            background-color: #a19e9d;
}

         .list ul li a:after {
            top: 6px;
            right: -6px;
            content: "";
            position: absolute;
            border: 5px solid #a19e9d;
            border-radius:10px;
            height: 0;
            transform: translateX(-50%);
            
            transition-duration: 0.4s;
            margin-top: -9px;
        }
        .list ul li a:hover:after{height: 100%;}
    

    .on {margin-right: -20px;}
    

    #header .h_btn {
        position: relative;
        width:10%; height: 50px; 
        float: right;
        z-index: 10;
        }
    #header .h_btn ul {
        width:50px; height: 100px;
        margin: 0 auto;
        }


    #header .h_btn ul li { 
        float: left;
        width:20px;
        height: 30px;
        margin-top: 30px;
    }
    
    .h_btn ul li:nth-child(1) img { width: 25px; height: 25px; padding-top: 2px;}
    .h_btn ul li:nth-child(2) img { width: 30px; height: 30px; }

    
     .hit {    
    position: absolute;
    left: 100%;
    opacity: 0;
    transition: 1s;
    }
    
    .hit_on {
    left: 9%;
    opacity: 1; 
    }
    
    
    
    
    #header:after {content: ""; clear: both;}
    
}




/*  ★ ★모바일 아이폰 가로*★★*/
@media all and (max-width:800px) {
    .pc에 떠 있는거 다 지우기  {display: none;}
    
    
    
        /*모바일 wrap*/
#wrap { width: 100%; height: 100%; }
#header {width: 100%; height: 100px;  }

/*★ 갤럭시 search*/
    * a {  font-family: "Bookman Old Style"; }
    
    .on {margin-right: -15px; top: -5px;}
    

    #header .h_btn {
        position: relative;
        width:10%; height: 30px; 
        float: right;
        z-index: 10;
        right: 10px;
        }
    #header .h_btn ul {
        width:40px; height: 30px;
        margin: 0 auto;
        }


    #header .h_btn ul li { 
        float: left;
        width:15px;
        height: 30px;
        margin-top: 5px;
    }
    
    .h_btn ul li:nth-child(1) img { width: 20px; height: 20px; padding-top: 1px;}
    .h_btn ul li:nth-child(2) img { width: 23px; height: 23px; }
    
    
    
        #search {  
            position: absolute;
            right: -35px;
            top: 0;
            width: 200px;
            height: 400px;
            display: none;
            z-index: 8;
        }
        #search img {
            position: absolute;
            right: 0;
            width: 200px;
            height: 400px;
            z-index: -1;}
/*s_icon*/
       #search .s_icon {
            width:100%; 
            height: 80px; 
            float: left;
            text-align: left;
        }
       #search .s_icon ul {
        margin: 10px 25px;
        width:60%; height: 80px;
        }

        #search .s_icon ul li { 
            text-align: center;
            float: left; 
            _padding-right: 10px;
            width:40px;
            height: 30px;
            margin-top: 25px;
          
        }
        #search .s_icon ul li a p,.fas{
            font-size: 14px;
            line-height: 1.6;
            color:#616161;
            font-weight: bold;
            z-index: 8;
        }
    
.fa-shopping-cart {font-size: 15px; line-height: 1.7; color: #616161;padding-left: 7px;} 
.fa-search {margin-left: 0px; transition: 0.8s; line-height: 1.6; font-size: 15px; color:#616161;}    
.fa-search.in {margin-left: 30px; transition: 0.8s;}

.S_box{ 
    width: 0px; height: 2em; right: 85px; _padding: 3px; transition: 0.8s;   position: absolute; top: 37px; transition: width 300ms ease; 
    overflow: hidden; float: right;  box-sizing: border-box; 
    transition: 0.8s; }
    
.S_box.open {
    width: 100px; _padding: 5px;
    transition: 0.8s;
}

.S_box from input { right: 0px;  transition: 0.8s;  position: absolute; _transition: width 300ms ease; overflow: hidden;  box-sizing: border-box; top: 0px; border-radius: 10px;}
.S_box from input.inopen { width: 100px; right: -90px _padding: 5px;}


        
/*s_Text*/
        #search .s_Text {
            padding-left: 5px;
            padding-top: 0px;
            width:80%; 
            height: 130px; 
            float: left;
            text-align: left;
        }    
        #search .s_Text ul li    {
            margin-left: 20px;
            width:100%; height: 50px;
         
        } 
        #search .s_Text ul li a p {
            font-size: 14px;
            color: #999999;
            font-weight: bold;
        }

 #search .s_Text ul li a p:hover {  _font-size: 22px;color: #2f2f2f; transition:0.5s;}

/*logo*/
    #header #Logo {
        margin: 10px;
        position: absolute;
        width: 50px;
        height: 150px;
        position: fixed;
        
    }
    #header #Logo img {
        width: 20px;
        height: 150px;
    }

/*list*/
    #header .list {
        position: relative;
        width: 90%;
        height: 80px;
        float: left;
        justify-content:center;
        _display:flex;
        _align-items:center;
    }

    .list ul { 
        padding-top:15px;
        padding-left: 7%;
        margin: 0 auto;
        width: 120px; 
        height: 65px; 
    }


    .list ul li {
        position: relative;
        margin: 0 auto;
        float: left;
        width: 9px; 
        height: 30px; 
        margin-left: 10px;
        margin-right: 10px;            
        
        
    }

        .list ul li a {  
            text-align: right;
            width:8px; 
            height: 15px;
            border-radius: 50px;
            display: block;
            background-color: #a19e9d;
}

         .list ul li a:after {
            top: 10px;
            right: -3px;
            content: "";
            position: absolute;
            border: 4px solid #a19e9d;
            border-radius:10px;
            height: 0;
            transform: translateX(-50%);
            transition-duration: 0.4s;
            _margin-top: -9px;
        }
        .list ul li a:hover:after{height: 50%;}
    
    
     .hit {    
    position: absolute;
    left: 100%;
    opacity: 0;
    transition: 1s;
    }
    
    .hit_on {
    left: 9%;
    opacity: 1; 
    }
    



     #header:after {content: ""; clear: both;}
   
}


























