* {margin: 0; padding: 0;box-sizing: border-box;font-family: "Bookman Old Style"; list-style: none; text-decoration: none;}

.ston { width: 325px; height: 435px; position: absolute; top: -435px; right: 0; opacity: 0.7;}


#container {
    width: 60%; height: 100%;
    margin: 0 auto;
    background-color: #fff; 
    box-shadow: 0px 15px 19px rgba(0,0,0,0.4); 
    position: relative; 
    border-radius: 5px; 
    left: 0; 
    top: 1500px;
    background-image: url(../IMAGE/membership_back.png);
    
}
#container > join{
    max-width: 1400px;
    position: relative;
    margin: 0 auto;
}

#join > .join_title {
    width: 100%;
    position: relative;
    text-align: center;
    padding: 40px 0;
    margin-top: 20px;
    margin-bottom: 50px;
}
#join > .join_title > h3 {
    font-size: 45px;
    margin-bottom: 5px;
    font-weight: bold;
    color: #eee; 
    text-shadow:-1px -1px white, 1px 1px #666; 
}
/*
#join > .join_title > h3:after {
    position: absolute;
    top: 115px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    content: '';
    display: block;
    width: 70px;
    height: 5px;
    background: #f0cf71;
}
*/


#join_box {
    max-width: 800px;
    margin: 0 auto 80px auto;
    position: relative;
}
/*
#join_box:before {
    content: '';
    width: 100%;
    height: 2px;
    background: #aaaaaa;
    position: absolute;
    top: 30px;
}
*/
#join_box:after {
    content: '';
    display: block;
    clear: both;
}
#join_box > h4 {
    font-size: 20px;
}

form {
    max-width: 700px;
    position: relative;
    margin: 0 auto;
    padding: 50px  0;
}
form > p > span {
    width: 20%;
    display: inline-block;
    line-height: 50px;
}
form > p > input[type="text"] {
    height: 17px;
}
form > p > input[type="password"] {
    height: 17px;
}
form > p > select {
    height: 25px;
}
form > p > input[type="button"] {
    font-family: "NanumSquare";
    font-weight: bold;
    height: 25px;
    line-height: 24px;
    padding: 0 10px;
    background: #efeeee;
    border: 1px solid #bbbbbb;
}

.condition {
    width: auto;
    font-size: 14px;
}
.choice {
    width: auto;
    height: 20px;
    font-size: 13px;
    padding-left: 20%;
    line-height: 0px;
}


form > .join_terms {
    margin: 50px auto 0 auto;
    border: 1px solid #bbbbbb;
}
form > .join_terms > li {
    position: relative;
    line-height: 80px;
    padding-left: 30px;
    font-weight: bold;
    font-size: 17px;
    border-bottom: 1px solid #bbbbbb;
}
form > .join_terms > li:nth-child(4) {
    border: 0;
}
form > .join_terms > li > input[type="checkbox"] {
    width: 17px;
    height: 17px;
    border-radius: 50px;
}
form > .join_terms > li > span {
    padding-left: 20px;
}
form > .join_terms > li > .join_down {
    position: absolute;
    top: 25px;
    right: 50px;
    cursor: pointer;
    transition: all 0.5s;
}
.on {
    transform: rotate(180deg);
    transition: all 0.5s;
}

form > .join_terms > li > textarea {
    font-size: 12px;
    position: relative;
    z-index: 10;
    width: 93%;
    background-color: #eeeeee;
}

.SEND {width: 100%; height: 100px;}
.join_btn {
    display: block;
    margin: 60px auto;
    text-align: center;
    width: 150px;
    height: 50px;
    line-height: 50px;
    background: #39528a;
    border-radius: 30%;
    color: #f9f9f9;
    font-weight: bold;
    font-size: 18px;
}