@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

* {
    margin: 0;
    padding: 0;
    font-family: "NanumSquare";
    -ms-font-family: "NanumSquare";
    
}
@font-face { 
    font-family: 'NanumSquare';
    src: url('https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css');
}


a,
p,
sapn {
    font-family: 'Bookman Old Style','NanumSquare', sans-serif;
}


/*sub_01*/
#container {
    width: 100%;
    height: 100%;
}

.swiper-container {
    width: 600px;
    height: 500px;
}

.swiper-slide {
    text-align: center;
    display: flex;
    /* 내용을 중앙정렬 하기위해 flex 사용 */
    align-items: center;
    /* 위아래 기준 중앙정렬 */
    justify-content: center;
    /* 좌우 기준 중앙정렬 */
}

.swiper-slide img {
    width: 510px;
    height: 340px;
    margin-bottom: 10px;
}

.swiper-pagination {
    position: absolute;
}

/*section02*/
.section02 {
    width: 100%;
    height: 100%;
}

.Shop {
    width: 80%;
    height: 100%;
    margin: 0 auto;
}

.Shop > p {
    width: 100%;
    height: 300px;
    text-align: center;
    margin: 0 auto;
    line-height: 10;
    font-weight: bold;
    font-family: "Bookman Old Style";
    -ms-font-family: "Bookman Old Style";
    color: #000;
    font-size: 28px;
}

/*  S_text01  */
.S_text01 {
    width: 80%;
    height: 800px;
    margin: 0 auto;
}

.S_text01 ul {
    width: 85%;
    height: 320px;
    margin: 0 auto;
    padding-top: 30px;
}

.S_text01 ul li {
    width: 20%;
    height: 160px;
    float: left;
    margin: 0 6.5%;
    text-align: center;
    padding-top: 30px;
    border-radius: 50%;
}

.S_text01 ul li a {
    width: 30px;
    text-align: center;
    font-weight: bold;
    font-family: "Bookman Old Style";
    -ms-font-family: "Bookman Old Style";
    color: #000;
    font-size: 18px;
}

.S_text01 ul li a p {
    width: 20px;
    margin: 0 auto;
}

/*  S_text02  */
.S_text02 {
    width: 75%;
    height: 500px;
    margin: 0 auto;
    display: none;
}

.S_text02 ul {
    width: 85%;
    height: 320px;
    margin: 0 auto;
    padding-top: 30px;
}

.S_text02 ul li {
    width: 20%;
    height: 160px;
    float: left;
    margin: 0 6.5%;
    text-align: center;
    padding-top: 30px;
    border-radius: 50%;
}

.S_text02 ul li a {
    width: 30px;
    text-align: center;
    font-weight: bold;
    font-family: "Bookman Old Style";
    -ms-font-family: "Bookman Old Style";
    color: #000;
    font-size: 18px;
}

.S_text02 ul li a p {
    width: 100px;
    margin: 0 auto;
}


.S_text01 .Txt01 li:nth-child(1):hover {
    background-image: url(../IMAGE/coffee01.png);
    background-size: cover;
    text-indent: -9999px;
    overflow: hidden;
    box-shadow: 0px 2px 15px -10px;
}

.S_text01 .Txt01 li:nth-child(2):hover {
    background-image: url(../IMAGE/coffee02.png);
    background-size: cover;
    text-indent: -9999px;
    overflow: hidden;
    box-shadow: 0px 2px 15px -10px;
}

.S_text01 .Txt01 li:nth-child(3):hover {
    background-image: url(../IMAGE/coffee03.png);
    background-size: cover;
    text-indent: -9999px;
    overflow: hidden;
    box-shadow: 0px 2px 15px -10px;
}

.S_text01 .Txt02 li:nth-child(1):hover {
    background-image: url(../IMAGE/coffee04.png);
    background-size: cover;
    text-indent: -9999px;
    overflow: hidden;
    box-shadow: 0px 2px 15px -10px;
}

.S_text01 .Txt02 li:nth-child(2):hover {
    background-image: url(../IMAGE/coffee05.png);
    background-size: cover;
    text-indent: -9999px;
    overflow: hidden;
    box-shadow: 0px 2px 15px -10px;
}

.S_text01 .Txt02 li:nth-child(3):hover {
    background-image: url(../IMAGE/coffee06.png);
    background-size: cover;
    text-indent: -9999px;
    overflow: hidden;
    box-shadow: 0px 2px 15px -10px;
}


.S_text02 .Txt03 li:nth-child(1):hover {
    background-image: url(../IMAGE/coffee07.png);
    background-size: cover;
    text-indent: -9999px;
    overflow: hidden;
    box-shadow: 0px 2px 15px -10px;
}

.S_text02 .Txt03 li:nth-child(2):hover {
    background-image: url(../IMAGE/coffee08.png);
    background-size: cover;
    text-indent: -9999px;
    overflow: hidden;
    box-shadow: 0px 2px 15px -10px;
}

.S_text02 .Txt03 li:nth-child(3):hover {
    background-image: url(../IMAGE/coffee09.png);
    background-size: cover;
    text-indent: -9999px;
    overflow: hidden;
    box-shadow: 0px 2px 15px -10px;
}

/*section03*/

.S_Btn01 {
    width: 10%;
    height: 100px;
    margin: 0 auto;
    text-align: center;
}

.S_Btn02 {
    width: 10%;
    height: 100px;
    margin: 0 auto;
    text-align: center;
}








/*★★★★★★★★★★★★★★★★★ 반응형 ★★★★★★★★★★★★★★★★*/

/* 매우 작은 기기들 (모바일폰, 320px 보다 작은) */
@media screen and (min-width:320px) and (max-width:640px) {
    
/*------------------------ swiper-container ------------------------*/
   .swiper-container {
        width: 100%;
        height: 400px;
    }

    .swiper-slide {
        text-align: center;
        display: flex;
        /* 내용을 중앙정렬 하기위해 flex 사용 */
        align-items: center;
        /* 위아래 기준 중앙정렬 */
        justify-content: center;
        /* 좌우 기준 중앙정렬 */
    }

    .swiper-slide img {
        width: 400px;
        height: 300px;
    }

    .swiper-pagination {
        position: absolute;
    }

/*------------------------ section02 ------------------------*/
    .section02 {
        width: 100%;
        height: 100%;
    }

    .Shop {
        width: 90%;
        height: 100%;
        margin: 0 auto;
    }

    .Shop > p {
        width: 100%;
        height: 150px;
        text-align: center;
        margin: 0 auto;
        line-height: 7;
        font-weight: bold;
        font-family: "Bookman Old Style";
        color: #000;
        font-size: 26px;
    }

    .S_text01 {
        width: 100%;
        height: 570px;
        margin: 0 auto;
    }

    .S_text01 ul {
        width: 80%;
        height: 230px;
        margin: 0 auto;
        padding-top: 10px;
    }

    .S_text01 ul li {
        width: 33.33%;
        height: 200px;
        float: left;
        margin: 0 auto;
        text-align: center;
        padding-top: 30px;
        border-radius: 0;
    }

    .S_text01 ul li a {
        width: 30px;
        text-align: center;
        font-weight: bold;
        font-family: "Bookman Old Style";
        font-size: 17px;
        z-index: -1;
    }

    .S_text01 ul li a p {
        width: 25px;
        height: 200px;
        margin: 0 auto;
    }


    .S_text02 {
        width: 100%;
        height: 570px;
        margin: 0 auto;
    }

    .S_text02 ul {
        width: 80%;
        height: 300px;
        margin: 0 auto;
    }

    .S_text02 ul li {
        width: 33.33%;
        height: 200px;
        float: left;
        margin: 0 auto;
        text-align: center;
        border-radius: 0;
    }

    .S_text02 ul li a {
        width: 30px;
        text-align: center;
        font-weight: bold;
        font-family: "Bookman Old Style";
        font-size: 17px;
        z-index: -1;
    }

    .S_text02 ul li a p {
        width: 25px;
        height: 230px;
        margin: 0 auto;
        letter-spacing: -3px;
        writing-mode: vertical-rl;
        _text-transform: uppercase;
        text-orientation: upright;
        -ms-writing-mode: tb-rl;
        -webkit-writing-mode: vertical-rl;
        -moz-writing-mode: vertical-rl;
        -ms-writing-mode: vertical-rl;
    }




    .on {
        color: #777;
        text-align: left;
        line-height: 15px;
        padding-right: 10px;
        font-size: 14px;
        font-weight: bold;
        _transition: 1s;
        letter-spacing: -3px;
        writing-mode: vertical-rl;
        text-transform: uppercase;
        text-orientation: upright;
        -ms-writing-mode: tb-rl;
        -webkit-writing-mode: vertical-rl;
        -moz-writing-mode: vertical-rl;
        -ms-writing-mode: vertical-rl;
    }





    /* Txt01 */
    .S_text01 .Txt01 li:nth-child(1):hover {
        background-image: none;
        text-indent: 0;
        font-size: 20px;
        box-shadow: none;
    }

    .S_text01 .Txt01 li:nth-child(2):hover {
        background-image: none;
        text-indent: 0;
        font-size: 20px;
        box-shadow: none;
    }

    .S_text01 .Txt01 li:nth-child(3):hover {
        background-image: none;
        text-indent: 0;
        font-size: 20px;
        box-shadow: none;
    }

    /* Txt02 */
    .S_text01 .Txt02 li:nth-child(1):hover {
        background-image: none;
        text-indent: 0;
        font-size: 20px;
        box-shadow: none;
    }

    .S_text01 .Txt02 li:nth-child(2):hover {
        background-image: none;
        text-indent: 0;
        font-size: 20px;
        box-shadow: none;
    }

    .S_text01 .Txt02 li:nth-child(3):hover {
        background-image: none;
        text-indent: 0;
        font-size: 20px;
        box-shadow: none;
    }

    /* Txt03 */
    .S_text02 .Txt03 li:nth-child(1):hover {
        background-image: none;
        text-indent: 0;
        font-size: 20px;
        box-shadow: none;
    }

    .S_text02 .Txt03 li:nth-child(2):hover {
        background-image: none;
        text-indent: 0;
        font-size: 20px;
        box-shadow: none;
    }

    .S_text02 .Txt03 li:nth-child(3):hover {
        background-image: none;
        text-indent: 0;
        font-size: 20px;
        box-shadow: none;
    }

/*------------------------ section03 ------------------------*/
    .S_Btn01 {
        width: 30%;
        height: 100px;
        margin: 0 auto;
        text-align: center;
    }

    .S_Btn01 a img {
        width: 50px;
        height: 50px;
    }

    .S_Btn02 {
        width: 30%;
        height: 100px;
        margin: 0 auto;
        text-align: center;
    }

    .S_Btn02 a img {
        width: 50px;
        height: 50px;
    }

}

/* 작은 기기들 (태블릿, 640px 이상) */
@media screen and (min-width:641px) and (max-width:767px) {
    
/*----------------------- swiper-containe -----------------*/
    .swiper-container {
        width: 100%;
        height: 400px;
    }

    .swiper-slide {
        text-align: center;
        display: flex;
        /* 내용을 중앙정렬 하기위해 flex 사용 */
        align-items: center;
        /* 위아래 기준 중앙정렬 */
        justify-content: center;
        /* 좌우 기준 중앙정렬 */
    }

    .swiper-slide img {
        width: 480px;
        height: 300px;
        margin-bottom: 10px;
    }

    .swiper-pagination {
        position: absolute;
    }

 /*----------------------- section02 -----------------*/
    .section02 {
        width: 100%;
        height: 100%;
    }

    .Shop {
        width: 90%;
        height: 100%;
        margin: 0 auto;
    }

    .Shop > p {
        width: 100%;
        height: 150px;
        text-align: center;
        margin: 0 auto;
        line-height: 7;
        font-weight: bold;
        font-family: "Bookman Old Style";
        color: #000;
        font-size: 26px;
    }

    .S_text01 {
        width: 100%;
        height: 750px;
        margin: 0 auto;
    }

    .S_text01 ul {
        width: 80%;
        height: 320px;
        margin: 0 auto;
        padding-top: 10px;
    }

    .S_text01 ul li {
        width: 33.33%;
        height: 200px;
        float: left;
        margin: 0 auto;
        text-align: center;
        padding-top: 30px;
        border-radius: 0;
    }

    .S_text01 ul li a {
        width: 30px;
        text-align: center;
        font-weight: bold;
        font-family: "Bookman Old Style";
        font-size: 17px;
        z-index: -1;
    }

    .S_text01 ul li a p {
        width: 25px;
        height: 200px;
        margin: 0 auto;
    }


    .S_text02 {
        width: 100%;
        height: 750px;
        margin: 0 auto;
    }

    .S_text02 ul {
        width: 80%;
        height: 320px;
        margin: 0 auto;
        padding-top: 10px;
    }

    .S_text02 ul li {
        width: 33.33%;
        height: 230px;
        float: left;
        margin: 0 auto;
        text-align: center;
        padding-top: 30px;
        border-radius: 0;
    }

    .S_text02 ul li a {
        width: 30px;
        text-align: center;
        font-weight: bold;
        font-family: "Bookman Old Style";
        font-size: 17px;
        z-index: -1;
    }

    .S_text02 ul li a p {
        width: 25px;
        height: 230px;
        margin: 0 auto;
        letter-spacing: -3px;
        writing-mode: vertical-rl;
        _text-transform: uppercase;
        text-orientation: upright;
        -ms-writing-mode: tb-rl;
        -webkit-writing-mode: vertical-rl;
        -moz-writing-mode: vertical-rl;
        -ms-writing-mode: vertical-rl;
    }




    .on {
        text-align: left;
        line-height: 15px;
        padding-right: 10px;
        font-size: 14px;
        font-weight: bold;
        _transition: 1s;
        letter-spacing: -3px;
        writing-mode: vertical-rl;
        text-transform: uppercase;
        text-orientation: upright;
        -ms-writing-mode: tb-rl;
        -webkit-writing-mode: vertical-rl;
        -moz-writing-mode: vertical-rl;
        -ms-writing-mode: vertical-rl;
    }





    /* Txt01 */
    .S_text01 .Txt01 li:nth-child(1):hover {
        background-image: none;
        text-indent: 0;
        font-size: 20px;
        box-shadow: none;
    }

    .S_text01 .Txt01 li:nth-child(2):hover {
        background-image: none;
        text-indent: 0;
        font-size: 20px;
        box-shadow: none;
    }

    .S_text01 .Txt01 li:nth-child(3):hover {
        background-image: none;
        text-indent: 0;
        font-size: 20px;
        box-shadow: none;
    }

    /* Txt02 */
    .S_text01 .Txt02 li:nth-child(1):hover {
        background-image: none;
        text-indent: 0;
        font-size: 20px;
        box-shadow: none;
    }

    .S_text01 .Txt02 li:nth-child(2):hover {
        background-image: none;
        text-indent: 0;
        font-size: 20px;
        box-shadow: none;
    }

    .S_text01 .Txt02 li:nth-child(3):hover {
        background-image: none;
        text-indent: 0;
        font-size: 20px;
        box-shadow: none;
    }

    /* Txt03 */
    .S_text02 .Txt03 li:nth-child(1):hover {
        background-image: none;
        text-indent: 0;
        font-size: 20px;
        box-shadow: none;
    }

    .S_text02 .Txt03 li:nth-child(2):hover {
        background-image: none;
        text-indent: 0;
        font-size: 20px;
        box-shadow: none;
    }

    .S_text02 .Txt03 li:nth-child(3):hover {
        background-image: none;
        text-indent: 0;
        font-size: 20px;
        box-shadow: none;
    }





/*----------------------- section03 -----------------*/

    .S_Btn01 {
        width: 30%;
        height: 100px;
        margin: 0 auto;
        text-align: center;
    }

    .S_Btn02 {
        width: 30%;
        height: 100px;
        margin: 0 auto;
        text-align: center;
    }

}

/* 작은 기기들 (태블릿, 768px 이상) */
@media screen and (min-width:768px) and (max-width:991px) {
    
        .swiper-container {
        width: 100%;
        height: 400px;
    }

    .swiper-slide {
        text-align: center;
        display: flex;
        /* 내용을 중앙정렬 하기위해 flex 사용 */
        align-items: center;
        /* 위아래 기준 중앙정렬 */
        justify-content: center;
        /* 좌우 기준 중앙정렬 */
    }

    .swiper-slide img {
        width: 480px;
        height: 300px;
        margin-bottom: 10px;
    }

    .swiper-pagination {
        position: absolute;
    }

/*----------------------- section02 -----------------------*/
    .section02 {
        width: 100%;
        height: 100%;
    }

    .Shop {
        width: 90%;
        height: 100%;
        margin: 0 auto;
    }

    .Shop > p {
        width: 100%;
        height: 150px;
        text-align: center;
        margin: 0 auto;
        line-height: 7;
        font-weight: bold;
        font-family: "Bookman Old Style";
        color: #000;
        font-size: 26px;
    }

    .S_text01 {
        width: 100%;
        height: 750px;
        margin: 0 auto;
    }

    .S_text01 ul {
        width: 80%;
        height: 320px;
        margin: 0 auto;
        padding-top: 10px;
    }

    .S_text01 ul li {
        width: 33.33%;
        height: 200px;
        float: left;
        margin: 0 auto;
        text-align: center;
        padding-top: 30px;
        border-radius: 0;
    }

    .S_text01 ul li a {
        width: 30px;
        text-align: center;
        font-weight: bold;
        font-family: "Bookman Old Style";
        font-size: 17px;
        z-index: -1;
    }

    .S_text01 ul li a p {
        width: 25px;
        height: 200px;
        margin: 0 auto;
    }


    .S_text02 {
        width: 100%;
        height: 750px;
        margin: 0 auto;
    }

    .S_text02 ul {
        width: 80%;
        height: 320px;
        margin: 0 auto;
        padding-top: 10px;
    }

    .S_text02 ul li {
        width: 33.33%;
        height: 230px;
        float: left;
        margin: 0 auto;
        text-align: center;
        padding-top: 30px;
        border-radius: 0;
    }

    .S_text02 ul li a {
        width: 30px;
        text-align: center;
        font-weight: bold;
        font-family: "Bookman Old Style";
        font-size: 17px;
        z-index: -1;
    }

    .S_text02 ul li a p {
        width: 25px;
        height: 230px;
        margin: 0 auto;
        letter-spacing: -3px;
        writing-mode: vertical-rl;
        _text-transform: uppercase;
        text-orientation: upright;
        -ms-writing-mode: tb-rl;
        -webkit-writing-mode: vertical-rl;
        -moz-writing-mode: vertical-rl;
        -ms-writing-mode: vertical-rl;
    }




    .on {
        color: #777;
        text-align: left;
        line-height: 15px;
        padding-right: 10px;
        font-size: 14px;
        font-weight: bold;
        _transition: 1s;
        letter-spacing: -3px;
        writing-mode: vertical-rl;
        text-transform: uppercase;
        text-orientation: upright;
        -ms-writing-mode: tb-rl;
        -webkit-writing-mode: vertical-rl;
        -moz-writing-mode: vertical-rl;
        -ms-writing-mode: vertical-rl;
    }





    /* Txt01 */
    .S_text01 .Txt01 li:nth-child(1):hover {
        background-image: none;
        text-indent: 0;
        font-size: 20px;
        box-shadow: none;
    }

    .S_text01 .Txt01 li:nth-child(2):hover {
        background-image: none;
        text-indent: 0;
        font-size: 20px;
        box-shadow: none;
    }

    .S_text01 .Txt01 li:nth-child(3):hover {
        background-image: none;
        text-indent: 0;
        font-size: 20px;
        box-shadow: none;
    }

    /* Txt02 */
    .S_text01 .Txt02 li:nth-child(1):hover {
        background-image: none;
        text-indent: 0;
        font-size: 20px;
        box-shadow: none;
    }

    .S_text01 .Txt02 li:nth-child(2):hover {
        background-image: none;
        text-indent: 0;
        font-size: 20px;
        box-shadow: none;
    }

    .S_text01 .Txt02 li:nth-child(3):hover {
        background-image: none;
        text-indent: 0;
        font-size: 20px;
        box-shadow: none;
    }

    /* Txt03 */
    .S_text02 .Txt03 li:nth-child(1):hover {
        background-image: none;
        text-indent: 0;
        font-size: 20px;
        box-shadow: none;
    }

    .S_text02 .Txt03 li:nth-child(2):hover {
        background-image: none;
        text-indent: 0;
        font-size: 20px;
        box-shadow: none;
    }

    .S_text02 .Txt03 li:nth-child(3):hover {
        background-image: none;
        text-indent: 0;
        font-size: 20px;
        box-shadow: none;
    }





/*----------------------- section03 -----------------------*/

    .S_Btn01 {
        width: 30%;
        height: 100px;
        margin: 0 auto;
        text-align: center;
    }

    .S_Btn02 {
        width: 30%;
        height: 100px;
        margin: 0 auto;
        text-align: center;
    }


}

/* 중간 기기들 (데스크탑, 992px 이상) */
@media screen and (min-width:992px) and (max-width:1024px) {
   .swiper-container {
        width: 100%;
        height: 400px;
    }

    .swiper-slide {
        text-align: center;
        display: flex;
        /* 내용을 중앙정렬 하기위해 flex 사용 */
        align-items: center;
        /* 위아래 기준 중앙정렬 */
        justify-content: center;
        /* 좌우 기준 중앙정렬 */
    }

    .swiper-slide img {
        width: 480px;
        height: 300px;
        margin-bottom: 10px;
    }

    .swiper-pagination {
        position: absolute;
    }

/*--------------------------- section02 ---------------------------*/
    .section02 {
        width: 100%;
        height: 100%;
    }

    .Shop {
        width: 90%;
        height: 100%;
        margin: 0 auto;
    }

    .Shop > p {
        width: 100%;
        height: 150px;
        text-align: center;
        margin: 0 auto;
        line-height: 7;
        font-weight: bold;
        font-family: "Bookman Old Style";
        color: #000;
        font-size: 26px;
    }

    .S_text01 {
        width: 100%;
        height: 750px;
        margin: 0 auto;
    }

    .S_text01 ul {
        width: 80%;
        height: 320px;
        margin: 0 auto;
        padding-top: 10px;
    }

    .S_text01 ul li {
        width: 33.33%;
        height: 200px;
        float: left;
        margin: 0 auto;
        text-align: center;
        padding-top: 30px;
        border-radius: 0;
    }

    .S_text01 ul li a {
        width: 30px;
        text-align: center;
        font-weight: bold;
        font-family: "Bookman Old Style";
        font-size: 17px;
        z-index: -1;
    }

    .S_text01 ul li a p {
        width: 25px;
        height: 200px;
        margin: 0 auto;
    }


    .S_text02 {
        width: 100%;
        height: 750px;
        margin: 0 auto;
    }

    .S_text02 ul {
        width: 80%;
        height: 320px;
        margin: 0 auto;
        padding-top: 10px;
    }

    .S_text02 ul li {
        width: 33.33%;
        height: 230px;
        float: left;
        margin: 0 auto;
        text-align: center;
        padding-top: 30px;
        border-radius: 0;
    }

    .S_text02 ul li a {
        width: 30px;
        text-align: center;
        font-weight: bold;
        font-family: "Bookman Old Style";
        font-size: 17px;
        z-index: -1;
    }

    .S_text02 ul li a p {
        width: 25px;
        height: 230px;
        margin: 0 auto;
        letter-spacing: -3px;
        writing-mode: vertical-rl;
        _text-transform: uppercase;
        text-orientation: upright;
        -ms-writing-mode: tb-rl;
        -webkit-writing-mode: vertical-rl;
        -moz-writing-mode: vertical-rl;
        -ms-writing-mode: vertical-rl;
    }




    .on {
        color: #777;
        text-align: left;
        line-height: 15px;
        padding-right: 10px;
        font-size: 14px;
        font-weight: bold;
        _transition: 1s;
        letter-spacing: -3px;
        writing-mode: vertical-rl;
        text-transform: uppercase;
        text-orientation: upright;
        -ms-writing-mode: tb-rl;
        -webkit-writing-mode: vertical-rl;
        -moz-writing-mode: vertical-rl;
        -ms-writing-mode: vertical-rl;
    }





    /* Txt01 */
    .S_text01 .Txt01 li:nth-child(1):hover {
        background-image: none;
        text-indent: 0;
        font-size: 20px;
        box-shadow: none;
    }

    .S_text01 .Txt01 li:nth-child(2):hover {
        background-image: none;
        text-indent: 0;
        font-size: 20px;
        box-shadow: none;
    }

    .S_text01 .Txt01 li:nth-child(3):hover {
        background-image: none;
        text-indent: 0;
        font-size: 20px;
        box-shadow: none;
    }

    /* Txt02 */
    .S_text01 .Txt02 li:nth-child(1):hover {
        background-image: none;
        text-indent: 0;
        font-size: 20px;
        box-shadow: none;
    }

    .S_text01 .Txt02 li:nth-child(2):hover {
        background-image: none;
        text-indent: 0;
        font-size: 20px;
        box-shadow: none;
    }

    .S_text01 .Txt02 li:nth-child(3):hover {
        background-image: none;
        text-indent: 0;
        font-size: 20px;
        box-shadow: none;
    }

    /* Txt03 */
    .S_text02 .Txt03 li:nth-child(1):hover {
        background-image: none;
        text-indent: 0;
        font-size: 20px;
        box-shadow: none;
    }

    .S_text02 .Txt03 li:nth-child(2):hover {
        background-image: none;
        text-indent: 0;
        font-size: 20px;
        box-shadow: none;
    }

    .S_text02 .Txt03 li:nth-child(3):hover {
        background-image: none;
        text-indent: 0;
        font-size: 20px;
        box-shadow: none;
    }





/*--------------------------- section03 ---------------------------*/

    .S_Btn01 {
        width: 30%;
        height: 100px;
        margin: 0 auto;
        text-align: center;
    }

    .S_Btn02 {
        width: 30%;
        height: 100px;
        margin: 0 auto;
        text-align: center;
    }

    
}

/* 큰 기기들 (큰 데스크탑, 1025px 이상) */
@media screen and (min-width:1025px) and (max-width:1279px) {
   .swiper-container {
        width: 100%;
        height: 400px;
    }

    .swiper-slide {
        text-align: center;
        display: flex;
        /* 내용을 중앙정렬 하기위해 flex 사용 */
        align-items: center;
        /* 위아래 기준 중앙정렬 */
        justify-content: center;
        /* 좌우 기준 중앙정렬 */
    }

    .swiper-slide img {
        width: 480px;
        height: 300px;
        margin-bottom: 10px;
    }

    .swiper-pagination {
        position: absolute;
    }

/*--------------------------- section02 ---------------------------*/
    .section02 {
        width: 100%;
        height: 100%;
    }

    .Shop {
        width: 90%;
        height: 100%;
        margin: 0 auto;
    }

    .Shop > p {
        width: 100%;
        height: 150px;
        text-align: center;
        margin: 0 auto;
        line-height: 7;
        font-weight: bold;
        font-family: "Bookman Old Style";
        color: #000;
        font-size: 26px;
    }

    .S_text01 {
        width: 100%;
        height: 750px;
        margin: 0 auto;
    }

    .S_text01 ul {
        width: 80%;
        height: 320px;
        margin: 0 auto;
        padding-top: 10px;
    }

    .S_text01 ul li {
        width: 33.33%;
        height: 200px;
        float: left;
        margin: 0 auto;
        text-align: center;
        padding-top: 30px;
        border-radius: 0;
    }

    .S_text01 ul li a {
        width: 30px;
        text-align: center;
        font-weight: bold;
        font-family: "Bookman Old Style";
        font-size: 17px;
        z-index: -1;
    }

    .S_text01 ul li a p {
        width: 25px;
        height: 200px;
        margin: 0 auto;
    }


    .S_text02 {
        width: 100%;
        height: 750px;
        margin: 0 auto;
    }

    .S_text02 ul {
        width: 80%;
        height: 320px;
        margin: 0 auto;
        padding-top: 10px;
    }

    .S_text02 ul li {
        width: 33.33%;
        height: 230px;
        float: left;
        margin: 0 auto;
        text-align: center;
        padding-top: 30px;
        border-radius: 0;
    }

    .S_text02 ul li a {
        width: 30px;
        text-align: center;
        font-weight: bold;
        font-family: "Bookman Old Style";
        font-size: 17px;
        z-index: -1;
    }

    .S_text02 ul li a p {
        width: 25px;
        height: 230px;
        margin: 0 auto;
        letter-spacing: -3px;
        writing-mode: vertical-rl;
        _text-transform: uppercase;
        text-orientation: upright;
        -ms-writing-mode: tb-rl;
        -webkit-writing-mode: vertical-rl;
        -moz-writing-mode: vertical-rl;
        -ms-writing-mode: vertical-rl;
    }




    .on {
        color: #777;
        text-align: left;
        line-height: 15px;
        padding-right: 10px;
        font-size: 14px;
        font-weight: bold;
        _transition: 1s;
        letter-spacing: -3px;
        writing-mode: vertical-rl;
        text-transform: uppercase;
        text-orientation: upright;
        -ms-writing-mode: tb-rl;
        -webkit-writing-mode: vertical-rl;
        -moz-writing-mode: vertical-rl;
        -ms-writing-mode: vertical-rl;
    }





    /* Txt01 */
    .S_text01 .Txt01 li:nth-child(1):hover {
        background-image: none;
        text-indent: 0;
        font-size: 20px;
        box-shadow: none;
    }

    .S_text01 .Txt01 li:nth-child(2):hover {
        background-image: none;
        text-indent: 0;
        font-size: 20px;
        box-shadow: none;
    }

    .S_text01 .Txt01 li:nth-child(3):hover {
        background-image: none;
        text-indent: 0;
        font-size: 20px;
        box-shadow: none;
    }

    /* Txt02 */
    .S_text01 .Txt02 li:nth-child(1):hover {
        background-image: none;
        text-indent: 0;
        font-size: 20px;
        box-shadow: none;
    }

    .S_text01 .Txt02 li:nth-child(2):hover {
        background-image: none;
        text-indent: 0;
        font-size: 20px;
        box-shadow: none;
    }

    .S_text01 .Txt02 li:nth-child(3):hover {
        background-image: none;
        text-indent: 0;
        font-size: 20px;
        box-shadow: none;
    }

    /* Txt03 */
    .S_text02 .Txt03 li:nth-child(1):hover {
        background-image: none;
        text-indent: 0;
        font-size: 20px;
        box-shadow: none;
    }

    .S_text02 .Txt03 li:nth-child(2):hover {
        background-image: none;
        text-indent: 0;
        font-size: 20px;
        box-shadow: none;
    }

    .S_text02 .Txt03 li:nth-child(3):hover {
        background-image: none;
        text-indent: 0;
        font-size: 20px;
        box-shadow: none;
    }





/*--------------------------- section03 ---------------------------*/

    .S_Btn01 {
        width: 30%;
        height: 100px;
        margin: 0 auto;
        text-align: center;
    }

    .S_Btn02 {
        width: 30%;
        height: 100px;
        margin: 0 auto;
        text-align: center;
    }

    
}

/* 큰 기기들 (큰 데스크탑, 1280px 이상) */
@media screen and (min-width:1280px) and (max-width:1920px) {
       .swiper-container {
        width: 100%;
        height: 400px;
    }

    .swiper-slide {
        text-align: center;
        display: flex;
        /* 내용을 중앙정렬 하기위해 flex 사용 */
        align-items: center;
        /* 위아래 기준 중앙정렬 */
        justify-content: center;
        /* 좌우 기준 중앙정렬 */
    }

    .swiper-slide img {
        width: 480px;
        height: 300px;
        margin-bottom: 10px;
    }

    .swiper-pagination {
        position: absolute;
    }

/*--------------------------- section02 ---------------------------*/
    .section02 {
        width: 100%;
        height: 100%;
    }

    .Shop {
        width: 90%;
        height: 100%;
        margin: 0 auto;
    }

    .Shop > p {
        width: 100%;
        height: 150px;
        text-align: center;
        margin: 0 auto;
        line-height: 7;
        font-weight: bold;
        font-family: "Bookman Old Style";
        color: #000;
        font-size: 26px;
    }

    .S_text01 {
        width: 100%;
        height: 750px;
        margin: 0 auto;
    }

    .S_text01 ul {
        width: 80%;
        height: 320px;
        margin: 0 auto;
        padding-top: 10px;
    }

    .S_text01 ul li {
        width: 33.33%;
        height: 200px;
        float: left;
        margin: 0 auto;
        text-align: center;
        padding-top: 30px;
        border-radius: 0;
    }

    .S_text01 ul li a {
        width: 30px;
        text-align: center;
        font-weight: bold;
        font-family: "Bookman Old Style";
        font-size: 22px;
        z-index: -1;
    }

    .S_text01 ul li a p {
        width: 25px;
        height: 200px;
        margin: 0 auto;
    }


    .S_text02 {
        width: 100%;
        height: 750px;
        margin: 0 auto;
    }

    .S_text02 ul {
        width: 80%;
        height: 320px;
        margin: 0 auto;
        padding-top: 10px;
    }

    .S_text02 ul li {
        width: 33.33%;
        height: 230px;
        float: left;
        margin: 0 auto;
        text-align: center;
        padding-top: 30px;
        border-radius: 0;
    }

    .S_text02 ul li a {
        width: 30px;
        text-align: center;
        font-weight: bold;
        font-family: "Bookman Old Style";
        font-size: 17px;
        z-index: -1;
    }

    .S_text02 ul li a p {
        font-size: 22px;
        width: 25px;
        height: 230px;
        margin: 0 auto;
        letter-spacing: -3px;
        writing-mode: vertical-rl;
        _text-transform: uppercase;
        text-orientation: upright;
        -ms-writing-mode: tb-rl;
        -webkit-writing-mode: vertical-rl;
        -moz-writing-mode: vertical-rl;
        -ms-writing-mode: vertical-rl;
    }




    .on {
        color: #777;
        text-align: left;
        line-height: 15px;
        padding-right: 10px;
        font-size: 20px;
        font-weight: bold;
        letter-spacing: -3px;
        line-height: 1;
        writing-mode: vertical-rl;
        text-transform: uppercase;
        text-orientation: upright;
        -ms-writing-mode: tb-rl;
        -webkit-writing-mode: vertical-rl;
        -moz-writing-mode: vertical-rl;
        -ms-writing-mode: vertical-rl;
    }





    /* Txt01 */
    .S_text01 .Txt01 li:nth-child(1):hover {
        background-image: none;
        text-indent: 0;
        font-size: 20px;
        box-shadow: none;
    }

    .S_text01 .Txt01 li:nth-child(2):hover {
        background-image: none;
        text-indent: 0;
        font-size: 20px;
        box-shadow: none;
    }

    .S_text01 .Txt01 li:nth-child(3):hover {
        background-image: none;
        text-indent: 0;
        font-size: 20px;
        box-shadow: none;
    }

    /* Txt02 */
    .S_text01 .Txt02 li:nth-child(1):hover {
        background-image: none;
        text-indent: 0;
        font-size: 20px;
        box-shadow: none;
    }

    .S_text01 .Txt02 li:nth-child(2):hover {
        background-image: none;
        text-indent: 0;
        font-size: 20px;
        box-shadow: none;
    }

    .S_text01 .Txt02 li:nth-child(3):hover {
        background-image: none;
        text-indent: 0;
        font-size: 20px;
        box-shadow: none;
    }

    /* Txt03 */
    .S_text02 .Txt03 li:nth-child(1):hover {
        background-image: none;
        text-indent: 0;
        font-size: 20px;
        box-shadow: none;
    }

    .S_text02 .Txt03 li:nth-child(2):hover {
        background-image: none;
        text-indent: 0;
        font-size: 20px;
        box-shadow: none;
    }

    .S_text02 .Txt03 li:nth-child(3):hover {
        background-image: none;
        text-indent: 0;
        font-size: 20px;
        box-shadow: none;
    }





/*--------------------------- section03 ---------------------------*/

    .S_Btn01 {
        width: 30%;
        height: 100px;
        margin: 0 auto;
        text-align: center;
    }

    .S_Btn02 {
        width: 30%;
        height: 100px;
        margin: 0 auto;
        text-align: center;
    }

}
